html,body{margin:0;padding:0}

p{
  padding:0;
  margin:0;
}

.dark{
  background-color: #303443;
}

.dark h1 {
  color: rgb(255, 255, 255);
}

.dark .CoinGeckoText{
  color:rgb(253, 253, 253)
}

.dark .cryptoTable{
  background-color:#181A21;
  box-shadow: rgba(0, 0, 0, 0.24) 9px 9px 6px;
}

.dark p{
  color: rgb(255, 255, 255);
}

.dark .balanceComp{
  background-color:#181A21;
  box-shadow: rgba(0, 0, 0, 0.24) 9px 9px 6px;
}

.formButton{
  border-radius: 8px;
  text-align: center;
  background-color: #484ab9;
  border: none;
  outline:none;
  cursor: pointer;
  float: right;
  display:inline;
  color: white;
  font-size: large;
}

.app {
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  min-height: 100vh;
}


.header{
text-align: center;
}

.cryptoTable{
box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
width:600px;
overflow: auto;
display: grid;
}

.balanceComp{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
  width:600px;
  overflow: auto;
  margin-top: 20px;
}

.balanceHeader{
font-size:x-large;
margin: 10px;
float: right;
}

.tableHeader{
font-size:x-large;
margin: 10px;
}

.tablePlaceholder{
  font-size:x-large;
  margin: 10px;
  text-align: center;
}

.pHeader{
  float: left;
}

.addButton{
  border-radius: 8px;
  text-align: center;
  background-color: #484ab9;
  border: none;
  outline:none;
  cursor: pointer;
  float: right;
  display:inline
}

.pAddButton{
  padding: 1px;
  font-size:x-large;
  color: white;
}

.currButton{
  border-radius: 8px;
  text-align: center;
  background-color: #484ab9;
  border: none;
  outline:none;
  cursor: pointer;
  float: right;
  display:inline;
  margin: 8px;
}

.pCurrButton{
  font-size:x-large;
  color: white;
}

.ping{
  border-radius: 8px;
  background-color: #484ab9;
  border: none;
  outline:none;
  cursor: pointer;
  float: left;
  display:inline;
  color: white;
  margin-right: 10px;
}

.CoinGeckoText{
  float: left;
  font-weight: bold;
}

.tableItem{
  margin: 10px;
  font-size:larger;
}

.addBButton{
  border-radius: 8px;
  background-color: #484ab9;
  border: none;
  outline:none;
  cursor: pointer;
  float: left;
  color: white;
  margin-left: 10px;
}

.pDialog{
  background-color: #ffffff;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  font-weight: bold;
}

.delButton{
  border-radius: 8px;
  background-color: #e43232;
  border: none;
  outline:none;
  float: right;
  cursor: pointer;
  color: white;
  margin-left: 10px;
}

.pX{
  font-size: large;
  padding-top: 2px;
}

.pSet{
  font-size: small;
}
